{% extends 'base.html' %}
{% block title %}{{ tag.name }}{% endblock %}
{% block content %}
    <h1 class="mb-2 text-lg font-semibold">{{ tag.name }}</h1>
    <p>{{ tag.notes }}</p>
    <ul class="flex flex-col gap-2">
        {% for exercise in tag.exercises.all %}
            <li class="bg-stone-200 flex flex-row items-center justify-between p-2">
                <div class="flex flex-col gap-2">
                    <p class="text-lg">{{ exercise.name }}</p>
                    <ul class="flex flex-row gap-2">
                        {% for tag in exercise.tags.all %}<li>{{ tag.name }}</li>{% endfor %}
                    </ul>
                </div>
                <a href="{% url 'set:create' exercise.id %}"
                   class="bg-stone-100 flex items-center justify-center h-20 w-20">Add Set</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
