{% extends 'base.html' %}
{% block title %}Stats{% endblock %}
{% block content %}
    <label for="exercise">Select an exercise</label>
    TODO: probably fully replace with alpine
    x data with the data from server render
    then the script is just here
    <select hx-get="{% url 'statistics:weight_chart' %}"
            hx-trigger="change"
            hx-target="#charts"
            hx-swap="innerHTML"
            class="border"
            name="exercise"
            id="exercise">
        {% for exercise in exercises %}
            <option value={{ exercise.id }}>{{ exercise.name }}
            </option>
        {% endfor %}
    </select>
    <section id="charts">
        {% include "./components/weight_chart.html" %}
    </section>
{% endblock %}
