{% extends 'base.html' %}
{% block title %}Add Set{% endblock %}
{% block content %}
    <h1>Add Set</h1>
    <form action="{% url 'set:store' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ exercise.id }}">
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="weight" required>
        <label for="reps">Reps:</label>
        <input type="number" id="reps" name="reps" required>
        <input type="submit" value="Create">
    </form>
{% endblock %}
