{% extends 'base.html' %}
{% block title %}Sets{% endblock %}
{% block content %}
    {% url 'set:create' as create %}
    {% include "../components/button.html" with url=create label="Create" %}
    {% if sets %}
        <ul>
            {% for set in sets %}
                <li class="flex flex-row gap-2">
                    <p>{{ set.exercise.name }}</p>
                    <p>{{ set.weight }}</p>
                    <p>{{ set.reps }}</p>
                    <p>{{ set.date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
