{% extends 'base.html' %}
{% block title %}Daily Log{% endblock %}
{% block content %}
    <h1 class="flex items-center justify-center text-xl font-bold p-2">{% now "F j, Y" %}</h1>
    {% if tags %}
        <ul class="flex flex-row flex-wrap w-full items-center justify-center gap-2">
            {% for tag in tags %}
                <li>
                    <a href="{% url 'tag:show' tag.id %}"
                       class="bg-stone-200 p-1 w-40 h-40 flex items-center justify-center">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if sets %}
        <ul>
            {% for set in sets %}
                <li>
                    <p>{{ set.exercise.name }}</p>
                    <p>{{ set.weight }}</p>
                    <p>{{ set.reps }}</p>
                    <a href="{% url 'set:edit' set.id %}">Edit</a>
                    <a href="{% url 'set:destroy' set.id %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
