{% extends 'base.html' %}
{% block title %}Add Set{% endblock %}
{% block content %}
    <h1 class="font-semibold text-lg mb-2">Add Set</h1>
    <form class="flex flex-col gap-2"
          action="{% url 'set:store' %}"
          method="post">
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ exercise.id }}">
        <div class="flex flex-col gap-1">
            <label for="weight">Weight:</label>
            <input class="bg-stone-200 h-20 text-4xl p-2"
                   type="number"
                   id="weight"
                   name="weight"
                   required>
        </div>
        <div class="flex flex-col gap-1">
            <label for="reps">Reps:</label>
            <input class="bg-stone-200 h-20 text-4xl p-2"
                   type="number"
                   id="reps"
                   name="reps"
                   required>
        </div>
        <input class="bg-stone-200 h-10" type="submit" value="Create">
    </form>
{% endblock %}
