{% extends 'base.html' %}
{% block title %}Edit Set{% endblock %}
{% block content %}
    <h1 class="text-xl font-semibold font-stone-600 mb-2">Edit Set</h1>
    <form 
    class="flex flex-col gap-2 w-full"
    action="{% url 'set:update' set.id %}" method="post">
        {% csrf_token %}
        <label for="weight">Weight:</label>

        <div 
            class="flex flex-row gap-8 justify-between"
            x-data="{weight: {{set.weight}} || 0 }">
            <input 
                class="h-20 bg-stone-200 p-4 w-full"
                type="number"
                id="weight"
                name="weight"
                x-model="weight"
                required>
            <div class="flex flex-row gap-2">
                <button class="w-20 h-full bg-stone-200" @click="weight++" type="button">Inc</button>
                <button class="w-20 h-full bg-stone-200" @click="weight--" type="button">Dec</button>
            </div>
        </div>

        <label for="reps">Reps:</label>

        <div 
            class="flex flex-row gap-8 justify-between"
            x-data="{reps: {{set.reps}} || 0 }">
            <input 
                class="h-20 bg-stone-200 p-4 w-full"
                type="number"
                id="reps"
                name="reps"
                x-model="reps"
                required>
            <div class="flex flex-row gap-2">
                <button class="w-20 h-full bg-stone-200" @click="reps++" type="button">Inc</button>
                <button class="w-20 h-full bg-stone-200" @click="reps--" type="button">Dec</button>
            </div>
        </div>

        <input class="bg-stone-200 h-16 mt-6" type="submit" value="Edit">
    </form>
{% endblock %}
