{% extends 'base.html' %}
{% block title %}Daily Log{% endblock %}
{% block content %}
	{% partialdef day_page inline %}
        <h1>{% now "F j, Y" %}</h1>

        <hr>

        {% if tags %}
            <div class="tag-holder"> 
                {% for tag in tags %}
                    {% partial highlighted_tag %}
                {% endfor %}
            </div>
        {% endif %}

        <hr>

        <section>
            {% for set in sets %}
                {% partial set_card %}
            {% endfor %}
        </section>
	{% endpartialdef %}
{% endblock %}


{% partialdef highlighted_tag %}
    <button
        class="tag"
        hx-get="{% url 'tag:show' tag.id %}"
        hx-target="main"
    >
        {{ tag.name }}
    </button>
{% endpartialdef %}

{% partialdef set_card %}
<article class="flex-apart">
    <div class="set-card-header">
        <h3>{{ set.exercise.name }}</h3>
        <p>{{ set.weight }}<sub class="subtle">kg</sub></p>
        <p>{{ set.reps }}<sub class="subtle">reps</sub></p>
    </div>
    <div class="flex flex-row gap-2">
        <button class="outline secondary" hx-put="{% url 'set:edit' set.id %}">Edit</button>
        <button class="danger outline" hx-delete="{% url 'set:destroy' set.id %}">Remove</button>
    </div>
</article>
{% endpartialdef %}
