<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% load static %}
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <script defer src="{% static 'js/alpine3.15.8.js' %}"></script>
        <script defer src="{% static 'js/htmx2.0.8.js' %}"></script>
    </head>
    <body class="bg-stone-100 flex flex-col items-center w-full">
        <nav class="relative w-full mb-4">
            <div class="absolute inset-x-0 top-0 h-1/2 bg-stone-600"></div>
            <ul class="relative flex flex-row justify-center items-center gap-4">
                {% url 'day:index' as day_url %}
                {% include "components/nav_button.html" with url=day_url label="Today" %}
                {% url 'exercise:index' as exercise_url %}
                {% include "components/nav_button.html" with url=exercise_url label="Exercises" %}
                {% url 'tag:index' as tag_url %}
                {% include "components/nav_button.html" with url=tag_url label="Tags" %}
                {% url 'set:index' as set_url %}
                {% include "components/nav_button.html" with url=set_url label="Sets" %}
            </ul>
        </nav>
        <main class="flex flex-col items-center max-w-5xl mx-4 mb-4">
            <section class="bg-stone-300">
                {% if messages %}
                    <ul class="">
                        {% for message in messages %}
                            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
