<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% load static %}
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="/site.webmanifest">

        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    </head>
    <body class="bg-stone-100">
        <nav class="relative">
            <div class="absolute inset-x-0 top-0 h-3/4 bg-stone-600"></div>
            <ul class="relative w-auto mx-4 mb-6 flex flex-row gap-4">
                {% url 'set:index' as set_url %}
                {% include "components/nav_button.html" with url=set_url label="Today" %}
                {% url 'exercise:index' as exercise_url %}
                {% include "components/nav_button.html" with url=exercise_url label="Exercises" %}
                {% url 'tag:index' as tag_url %}
                {% include "components/nav_button.html" with url=tag_url label="Tags" %}
            </ul>
        </nav>
        <main class="flex flex-col flex-wrap mh-5/6 mx-4 w-auto">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
