{% load django_htmx %}
<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% load static %}
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="/site.webmanifest">

        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
        >

        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/output.css' %}"> -->
        <script defer src="{% static 'js/alpine3.15.8.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
        {% htmx_script %}
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <header>
            <div class="container">
            <nav>
                <ul>
                    <li>
                        <a hx-push-url="true" hx-target="main" hx-get="{% url 'day:index' %}">
                            Today
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a hx-push-url="true" hx-target="main" hx-get="{% url 'exercise:index' %}">
                            Exercises
                        </a>
                    </li>
                    <li>
                        <a hx-push-url="true" hx-target="main" hx-get="{% url 'tag:index' %}">
                            Tags
                        </a>
                    </li>
                    <li>
                        <a hx-push-url="true" hx-target="main" hx-get="{% url 'set:index' %}">
                            Sets
                        </a>
                    </li>
                    <li>
                        <a hx-push-url="true" hx-target="main" hx-get="{% url 'statistics:index' %}">
                            Stats
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </header>
        <main class="container">
            {% if messages %}
                <article>
                    <ul>
                        {% for message in messages %}
                            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </article>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>
