/* 1. Use a more-intuitive box-sizing model */
* {
  outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
