/* 1. Use a more-intuitive box-sizing model */
/* * { */
/*   outline: 1px solid red; */
/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* --- */

.flex-apart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.right {
  width: fit-content;
  margin-left: auto;
}

.danger {
  border-color: var(--pico-color-red-450);
  color: var(--pico-color-red-450);
}

.subtle {
  color: var(--pico-color-grey-400)
}


/* --- */

.tag-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tag {
  height: 8rem;
  width: 8rem;
}

.set-card-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}
.set-card-header > h3, .set-card-header > p {
  margin: 0;
}

.exercise-tag {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  width: fit-content;
  padding: 0.25rem;
  margin: 0;

  background-color: var(--pico-color-azure-150);
}
.exercise-tag > p {
  margin: 0;
}
